<form nz-form (ngSubmit)="submitForm(validateForm.value)" [formGroup]="validateForm">

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>标题</nz-form-label>
    <nz-form-control [nzSpan]="12" [nzErrorTip]="templateTip">
      <input nz-input formControlName="title">
      <ng-template #templateTip let-control>
        <ng-container *ngIf="control.hasError('required')">
          请输入文章标题!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7">标签</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <nz-select formControlName="tags" nzMode="multiple" [nzMaxTagCount]="3">
        <nz-option *ngFor="let tag of this.metaDataService.tags" [nzLabel]="tag" [nzValue]="tag"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7">权限设置</nz-form-label>
    <nz-form-control [nzSpan]="3">
      <nz-select formControlName="limit">
        <div *ngFor="let tag of this.metaDataService.levels">
          <nz-option [nzDisabled]="+tag > this.userLevel"  [nzLabel]="tag" [nzValue]="tag"></nz-option>
        </div>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <editor
        apiKey="pzsbp1xb6j13dd4aduwebi7815hzj1upr7v42ojpcbc8c7pu"
        [init]="editParam"
        formControlName="content"
        id="tinyMce"
      ></editor>
    </nz-form-control>
  </nz-form-item>

  <button nz-button type="submit" [disabled]="!validateForm.valid">提交</button>
</form>


<div [innerHTML]="validateForm.value.content | safeHtml"></div>


