<nz-layout class="inner-layout">
  <nz-sider nzWidth="200px" nzTheme="light">
    <ul nz-menu nzMode="inline" class="sider-menu">
      <li nz-menu-item>
        <i nz-icon nzType="user"></i>
        <span>个人信息</span>
      </li>
      <li nz-submenu nzTitle="我的关注" nzIcon="laptop">
        <ul>
          <li nz-menu-item>分类1</li>
          <li nz-menu-item>分类2</li>
          <li nz-menu-item>默认分组</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="我的文章" nzIcon="notification">
        <ul>
          <li nz-menu-item>分类1</li>
          <li nz-menu-item>分类2</li>
          <li nz-menu-item>分类3</li>
          <li nz-menu-item>分类4</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-content class="inner-content">{{Content}}</nz-content>
</nz-layout>
