<div *ngIf="this.identityService.logged">
  <app-logged-bar [username]="identityService.username"></app-logged-bar>
</div>

<div *ngIf="!this.identityService.logged" nz-row nzGutter="16">
  <div nz-col nzSpan="6">
    <nz-avatar [nzSize]="AvatarSize" nz-popover [nzPopoverContent]="notLoginPopover" nzIcon="user"></nz-avatar>
  </div>
  <div nz-col nzSpan="6">
    <div nz-button nzBlock="true" nzType="link" (click)="toLogin()">登陆</div>
  </div>
  <div nz-col nzSpan="6">
    <div nz-button nzBlock="true" nzType="link" (click)="toRegister()">注册</div>
  </div>
</div>

<ng-template #notLoginPopover>
  <nz-list class="not-login-popover-list">
    <nz-list-item>
      <p class="pop-list-item">登陆后👇享受全新体验</p>
    </nz-list-item>
    <nz-list-item>
      <button nz-button nzType="link" class="pop-list-item" (click)="this.router.navigate(['/login'])">
        <i nz-icon nzType="login" nzTheme="outline"></i>
        登陆
      </button>
    </nz-list-item>
    <nz-list-item>
      <button nz-button nzType="link" class="pop-list-item" (click)="this.router.navigate(['/register'])">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        注册
      </button>
    </nz-list-item>
  </nz-list>
</ng-template>
