<div *ngIf="this.userService.status" nz-row nzGutter="16">
  <div nz-col nzSpan="6">
    <nz-avatar [nzSize]="AvatarSize" nz-popover [nzPopoverContent]="loginPopover" nzIcon="user" [nzSrc]="this.userService.userInfo.avatarUrl">
    </nz-avatar>
  </div>
  <div nz-col nzSpan="6">
    <div nz-button nzBlock="true" nzType="link" (click)="toSpace()">消息</div>
  </div>
  <div nz-col nzSpan="6">
    <div nz-button nzBlock="true" nzType="link" (click)="toSpace()">动态</div>
  </div>
  <div nz-col nzSpan="6">
    <div nz-button nzBlock="true" nzType="link" (click)="toSpace()">收藏</div>
  </div>
</div>

<div *ngIf="!this.userService.status" nz-row nzGutter="16">
  <div nz-col nzSpan="6">
    <nz-avatar [nzSize]="AvatarSize" nz-popover [nzPopoverContent]="notLoginPopover" nzIcon="user"></nz-avatar>
  </div>
  <div nz-col nzSpan="6">
    <div nz-button nzBlock="true" nzType="link" (click)="toLogin()">登陆</div>
  </div>
  <div nz-col nzSpan="6">
    <div nz-button nzBlock="true" nzType="link" (click)="toRegister()">注册</div>
  </div>
</div>

<ng-template #loginPopover>
  <nz-list>
    <nz-list-item>
      <p class="pop-list-item">你好，{{this.userService.userInfo.nickname}}</p>
    </nz-list-item>
    <nz-list-item>
      <nz-button-group>
        <button nz-button nzType="link">关注<p>{{this.userService.userInfo.follow}}</p></button>
        <button nz-button nzType="link">粉丝<p>{{this.userService.userInfo.fans}}</p></button>
        <button nz-button nzType="link">帖子<p>{{this.userService.userInfo.fans}}</p></button>
      </nz-button-group>
    </nz-list-item>
    <nz-list-item>
      <a class="pop-list-item" [routerLink]="'/my-space/'+this.userService.username">
        <i nz-icon nzType="home" nzTheme="outline"></i>
        个人主页
      </a>
    </nz-list-item>
    <nz-list-item>
      <button nz-button nzType="link" class="pop-list-item" (click)="this.userService.logout()">
        <i nz-icon nzType="logout" nzTheme="outline"></i>
        退出登陆
      </button>
    </nz-list-item>
  </nz-list>
</ng-template>

<ng-template #notLoginPopover>
  <nz-list class="not-login-popover-list">
    <nz-list-item>
      <p class="pop-list-item">登陆后👇享受全新体验</p>
    </nz-list-item>
    <nz-list-item>
      <button nz-button nzType="link" class="pop-list-item">
        <i nz-icon nzType="login" nzTheme="outline"></i>
        登陆
      </button>
    </nz-list-item>
    <nz-list-item>
      <button nz-button nzType="link" class="pop-list-item">
        <i nz-icon nzType="user" nzTheme="outline"></i>
        注册
      </button>
    </nz-list-item>
  </nz-list>
</ng-template>
