<div>
    <nz-table #basicTable [nzData]="attachment_list">
      <thead>
        <tr>
          <th>名称</th>
          <th>大小</th>
          <th>类型</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.filename }}</td>
          <td>{{ data.filesize }}</td>
          <td>{{ data.filetype }}</td>
          <td>
            <a>下载</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>删除</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  