<div class="search-bar">
  <div style="width: 30%;">
    <nz-input-group nzSearch [nzSuffix]="suffixIconSearch">
      <input type="text" [(ngModel)]="searchContent" nz-input placeholder="input search text" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i nz-icon (click)="search()" nzType="search"></i>
    </ng-template>
  </div>
</div>

<div>
  <nz-table #basicTable [nzData]="user_list">
    <thead>
      <tr>
        <th>用户名</th>
        <th>昵称</th>
        <th>等级</th>
        <th>简介</th>
        <th style="min-width: 200px;">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>
          <div class="avatat_inner">
            <nz-avatar [nzSize]="16" nzIcon="user" [nzSrc]="data.avatarUrl"></nz-avatar>
          </div>
          <span (click)='toSpace()'> {{ data.username }} </span>
        </td>
        <td>{{ data.nickname }}</td>
        <td>{{ data.level }}</td>
        <td>{{ data.brief }}</td>
        <td>
          <a (click)="editTargetInfo()">编辑资料</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-popconfirm
          nzPopconfirmTitle="禁言此用户?"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="banTargetUser()"
          (nzOnCancel)="cancel()"
          >停止访问</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
