<nz-upload class="avatar-uploader"
           nzType="select"
           nzAccept="image/jpeg"
           nzAction="controller/image"
           nzListType="picture-card"
           [nzShowUploadList]="false"
           (nzChange)="handleChange($event)"
           [nzData]="appendData"
           nzName="avatar"
>
  <ng-container *ngIf="!avatarUrl">
    <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
    <div class="ant-upload-text">Upload</div>
  </ng-container>
  <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
</nz-upload>
