<div class="top_part" *ngIf="viewing_own_page">
  <div class="button_container">
    <button nz-button nzType="primary" nzSize="large">签到</button>
  </div>
  <div class="login_days">
    <span>累计登录： {{ userPrivateInfo.loginCount }}天 </span>
  </div>
</div>
<nz-divider *ngIf="viewing_own_page"></nz-divider>
<nz-row>
  <nz-col nzSpan="8">
    <a routerLink="/home">关注数<br>{{userInfo.follow}}</a>
  </nz-col>
  <nz-col nzSpan="8">
    <a routerLink="/home">粉丝数<br>{{userInfo.fans}}</a>
  </nz-col>
  <nz-col nzSpan="8">
    <a routerLink="/home">积分<br>{{userInfo.point}}</a>
  </nz-col>
</nz-row>
<nz-row>
  <nz-col nzSpan="8">帖子被浏览<br>{{userInfo.browse}}</nz-col>
  <nz-col nzSpan="8">获赞数<br>{{userInfo.like}}</nz-col>
  <nz-col nzSpan="8">被收藏<br>{{userInfo.star}}</nz-col>
</nz-row>
