<div *ngIf="!loading" style="margin-right: 24px;">
  <div class="top_part">
    <div class="avatar">
      <div class="avatat_inner">
        <nz-avatar [nzSize]="90" nzIcon="user" [nzSrc]="userInfo.avatarUrl"></nz-avatar>
      </div>
    </div>
    <div class="name">
      <span class="name_font"> {{ userInfo.nickname }} </span>
    </div>
  </div>
  <nz-divider></nz-divider>

  <nz-row>
    <nz-col nzSpan="8">
      <a routerLink="/home">关注数<br>{{userInfo.follow}}</a>
    </nz-col>
    <nz-col nzSpan="8">
      <a routerLink="/home">粉丝数<br>{{userInfo.fans}}</a>
    </nz-col>
    <nz-col nzSpan="8">
      <a routerLink="/home">积分<br>{{userInfo.point}}</a>
    </nz-col>
  </nz-row>
  <nz-row>
    <nz-col nzSpan="8">帖子被浏览<br>{{userInfo.browse}}</nz-col>
    <nz-col nzSpan="8">获赞数<br>{{userInfo.like}}</nz-col>
    <nz-col nzSpan="8">被收藏<br>{{userInfo.star}}</nz-col>
  </nz-row>
</div>
