<form class="form" *ngIf="registerStatus==0" nz-form [formGroup]="validateForm"
      (ngSubmit)="submitForm(validateForm.value)">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>用户名</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="验证中..." [nzErrorTip]="userErrorTpl">
      <input nz-input formControlName="userName" placeholder="username"/>
      <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          请输入用户名!
        </ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">
          用户名已被占用!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>邮箱</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
      <input nz-input formControlName="email" placeholder="email" type="email"/>
      <ng-template #emailErrorTpl let-control>
        <ng-container *ngIf="control.hasError('email')">
          请输入正确的邮箱
        </ng-container>
        <ng-container *ngIf="control.hasError('required')">
          请输入邮箱
        </ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">
          这个邮箱已被注册
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>密码</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input your password!">
      <input nz-input type="password" formControlName="password" (ngModelChange)="validateConfirmPassword()"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>确认密码</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="passwordErrorTpl">
      <input nz-input type="password" formControlName="confirm" placeholder="confirm your password"/>
      <ng-template #passwordErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">
          Please confirm your password!
        </ng-container>
        <ng-container *ngIf="control.hasError('confirm')">
          Password is inconsistent!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="6" [nzSpan]="12" nzValidateStatus="validating">
      <button nz-button nzBlock type="submit" nzType="primary" [disabled]="!validateForm.valid">
        注册
      </button>
    </nz-form-control>
  </nz-form-item>
</form>

<nz-result
  nzStatus="success"
  nzTitle="注册成功"
  nzSubTitle="用你刚注册的账号享受全新体验"
  *ngIf="registerStatus==1"
>
  <div nz-result-extra>
    <button nz-button nzType="primary" (click)="this.router.navigate(['home'])">回到主页</button>
  </div>
</nz-result>
