
<nz-carousel nzAutoPlay>
  <div nz-carousel-content *ngFor="let index of array">
    <h3>{{ index }}</h3>
  </div>
</nz-carousel>

<div class="cards">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="离散数学">
        <i nz-icon nzType="fire" nzTheme="outline" style="color: red; padding-right: 10px;"></i>
        <span style="color: red;">Top topics</span><br>
        <div class="entry">
          <a nz-button nzType="link">>>进入板块</a>
        </div>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="面向对象程序设计">
        <p>top topics</p>
        <div class="entry">
          <a nz-button nzType="link">>>进入板块</a>
        </div>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="系统编程">
        <p>Card content</p>
        <div class="entry">
          <a nz-button nzType="link">>>进入板块</a>
        </div>
      </nz-card>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="课程推荐">
        <p>Card content</p>
        <div class="entry">
          <a nz-button nzType="link">>>进入板块</a>
        </div>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="校园周边">
        <p>Card content</p>
        <div class="entry">
          <a nz-button nzType="link">>>进入板块</a>
        </div>
      </nz-card>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="资源分享区">
        <i nz-icon nzType="fire" nzTheme="outline" style="color: red; padding-right: 10px;"></i>
        <span style="color: red;">Top topics</span><br>
        <div class="entry">
          <a nz-button nzType="link">>>进入资源分享区</a>
        </div>
      </nz-card>
    </div>
  </div>
</div>