
<nz-carousel nzAutoPlay>
  <div nz-carousel-content *ngFor="let index of array">
    <h3>{{ index }}</h3>
  </div>
</nz-carousel>

<div class="cards">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="板块名1">
        <p>Top topics</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="板块名2">
        <p>top topics</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Card title">
        <p>Card content</p>
      </nz-card>
    </div>
  </div>
  <br>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Card title">
        <p>Card content</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Card title">
        <p>Card content</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-card nzTitle="Card title">
        <p>Card content</p>
      </nz-card>
    </div>
  </div>
</div>