<nz-list  [nzDataSource]="subData" [nzRenderItem]="item" [nzGrid]="{ gutter: 16, span: 6 }" [nzPagination]="pagination">
  <ng-template #item let-item>
    <nz-list-item [nzContent]="nzContent">
      <ng-template #nzContent>
        <nz-card [nzTitle]="item.title">
          Card content
        </nz-card>
      </ng-template>
    </nz-list-item>
  </ng-template>
  <ng-template #pagination>
    <nz-pagination (nzPageIndexChange)="GetData()" [nzPageSize]="1" [nzPageIndex]="1" [nzTotal]="data.length"></nz-pagination>
  </ng-template>
</nz-list>
