<nz-layout *ngIf="!loading" style="background-color: white;">
  <div style="background-color: white;">
    <div class="profileWallWrap">
      <div class="coverWrap">
        <img class="cover" alt="cover" src="//assets.dxycdn.com/gitrepo/bbs-pc/dist/static/invalid-name@3x.35adc16a.png">
      </div>
      <div class="infoWrap">
        <div class="left">
          <div class="avatarWrap">
            <div>
              <nz-avatar [nzSize]="150" nzIcon="user" [nzAlt]="" [nzSrc]="userInfo.avatarUrl"></nz-avatar>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="nameWrap">
            <span class="name"> {{ userInfo.nickname }} </span>
          </div>
          <div class="briefWrap">
            <div class="briefBasic">
              <span></span>
            </div>
            <p class="briefDescription"> {{ userInfo.brief }} </p>
          </div>
          <div class="editbutton" *ngIf="ownPage">
            <a nz-button nzType="link" routerLink="/editinfo">修改资料</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nz-layout class="main_part">
    <nz-content>
      <nz-tabset>
        <nz-tab *ngIf="ownPage" nzTitle="动态">
<!--          <app-tab-post></app-tab-post>-->
        </nz-tab>
        <nz-tab nzTitle="帖子">
          <app-tab-invitation [targetName]="targetName"></app-tab-invitation>
        </nz-tab>
        <nz-tab nzTitle="收藏">
          <app-tab-star [targetName]="targetName"></app-tab-star>
        </nz-tab>
        <nz-tab nzTitle="附件">
<!--          <app-tab-attachment [targetName]="targetName" [viewing_own_page]="ownPage"></app-tab-attachment>-->
        </nz-tab>
        <nz-tab nzTitle="关注">
<!--          <app-tab-follow [targetName]="targetName" [ownPage]="ownPage"></app-tab-follow>-->
        </nz-tab>
      </nz-tabset>
    </nz-content>

    <nz-sider nzWidth="350px" nzTheme="light">
      <div class="userInfo-box-top">
        <app-side-user [userInfo]="userInfo" [ownPage]="ownPage"></app-side-user>
      </div>
      <div class="userInfo-box-middle">
        <span>最近访客</span>
        <nz-divider></nz-divider>
        <ul *ngFor="let item of recentVisitor">
          <li> {{ item.avatarUrl }} --- {{ item.nickname }} </li>
        </ul>
      </div>
      <div class="userInfo-box-bottom">
        <span>喜爱的板块</span>
        <nz-divider></nz-divider>
        <ul *ngFor="let item of favorBlock">
          <li [ngClass]="{'orange':item.todayTotal>10, 'black':item.todayTotal<=10}"> {{ item.blockName }} --- {{ item.todayTotal }} </li>
        </ul>
      </div>
    </nz-sider>
  </nz-layout>
</nz-layout>
