.userInfo-box-top {
  /*height: 350px;*/
  border-style: solid;
}

.userInfo-box-middle {
  /*height: 350px;*/
  border-style: solid;
}

.userInfo-box-bottom {
  /*height: 350px;*/
  border-style: solid;
}

nz-header {
  border-style: solid;
  border-color: gray;
}

.profileWallWrap {
  width: 100%;
  height: min-content;
  background-color: white;
}

.coverWrap {
  height: 150px;
}

.cover {
  max-width: 100%;
  height: 100%;
}

.infoWrap {
  width: 100%;
  height: fit-content;
  position: relative;
  top: -70px;
}

.left {
  width: fit-content;
  height: auto;
  position: relative;
  left: 30px;
}

.avatarWrap {
  width: fit-content;
  height: auto;
  padding: 5px;
}

.right {
  width: auto;
  height: auto;
  position: relative;
  top: -75px;
  left: 220px;
}

.name {
  height: fit-content;
  width: fit-content;
  margin-right: 5px;
  font-weight: 700;
  line-height: auto;
  font-size: 26px;
}

.main_part {
  background-color: white;
  width: 100%;
  height: auto;
  position: relative;
  top: -100px;
}

.orange {
  color: orange;
}

.black {
  color: black;
}