.no_res {
    height: 200px;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.inner {
    height: auto;
    width: auto;
}

.error {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bolder;
    color: grey;
}