<nz-layout [ngClass]="{'layout':!this.identityService.visitAsAdmin, 'admin-layout':this.identityService.visitAsAdmin}">
  <nz-header class="header">
    <div nz-row nzGutter="16" class="header">
      <div nz-col class="gutter-row" nzSpan="1">
        <div class="logo">
          <img src="favicon.ico"/>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="7">
        <ul nz-menu nzTheme="light" nzMode="horizontal">
          <li nz-menu-item nzMatchRouter>
            <span>首页</span>
            <a routerLink="/home"></a>
          </li>
          <li nz-submenu nzTitle="全部板块">
            <ul>
              <li nz-menu-item>
                <span>综合论坛</span>
                <a routerLink="/forum/comprehension"></a>
              </li>
              <li nz-menu-divider></li>
              <li nz-submenu nzTitle="学科交流">
                <ul>
                  <li nz-menu-item *ngFor="let subject of Subjects" nzMatchRouter>
                    <span>{{subject[0]}}</span>
                    <a [routerLink]="'/forum/' + subject[1]"></a>
                  </li>
                </ul>
              </li>
              <li nz-submenu nzTitle="校园生活">
                <ul>
                  <li nz-menu-item *ngFor="let schoolLife of SchoolLife" nzMatchRouter>
                    <span>{{schoolLife[0]}}</span>
                    <a [routerLink]="'/forum/' + schoolLife[1]"></a>
                  </li>
                </ul>
              </li>

              <li nz-menu-divider></li>

              <li nz-menu-item>
                <span>资源分享</span>
                <a routerLink="/resource"></a>
              </li>
            </ul>
          </li>
          <li nz-menu-item nzMatchRouter>
            <span>在线刷题</span>
            <a routerLink="/exercise"></a>
          </li>
        </ul>
      </div>
      <div nz-col class="gutter-row" nzSpan="8">
        <app-search-bar></app-search-bar>
      </div>
      <!-- TODO 身份切换还有些问题，待调试 -->
      <div nz-col class="gutter-row" nzSpan="3" *ngIf="this.identityService.isAdmin">
        <nz-select [(ngModel)]="this.identityService.visitAsAdmin" (ngModelChange)="changeMode($event)">
          <nz-option nzValue=false nzLabel="用户"></nz-option>
          <nz-option nzValue=true nzLabel="管理员"></nz-option>
        </nz-select>
        <!-- {{this.identityService.visitAsAdmin }} -->
      </div>
      <div nz-col class="gutter-row" nzSpan="3" *ngIf="!this.identityService.isAdmin"></div>
      <div nz-col class="gutter-row" nzSpan="5">
        <app-login-bar></app-login-bar>
      </div>
    </div>
  </nz-header>

  <nz-content>
<!--    <app-bread-bar></app-bread-bar>-->
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>©2020 Buaa 软件工程 学习生活交流论坛</nz-footer>
</nz-layout>
