.layout {
  min-height: 100vh;
}

.logo {
  margin-top: 12px;
  height: 40px;
  background: white;
  float: left;
}

.logo img {
  margin: 0;
  width: 40px;
  height: 40px;
}

nz-header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

[nz-menu] {
  margin-top: 8px;
  height: 48px;
}

nz-content {
  padding: 0 50px;
  margin-top: 64px;
}

.inner-content {
  margin-top: 32px;
  background: #fff;
  padding: 24px;
  min-height: 580px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

nz-footer {
  text-align: center;
}

.header {
  height: 64px;
}

.search-bar {
  margin: 16px;
}
