<nz-layout class="layout" xmlns="http://www.w3.org/1999/html">
  <nz-header class="header">
    <div nz-row nzGutter="16" class="header">
      <div nz-col class="gutter-row" nzSpan="1">
        <div class="logo">
          <img src="favicon.ico"/>
        </div>
      </div>
      <div nz-col class="gutter-row" nzSpan="7">
        <ul nz-menu nzTheme="light" nzMode="horizontal">
          <li nz-menu-item nzMatchRouter>
            <span>首页</span>
            <a routerLink="/home"></a>
          </li>
          <li nz-submenu nzTitle="全部板块">
            <ul>
              <li nz-submenu nzTitle="学科交流">
                <ul>
                  <li nz-menu-item nzDisabled nzMatchRouter><span>离散数学</span><a routerLink="/home"></a></li>
                  <li nz-menu-item>概率统计</li>
                  <li nz-menu-item>面向对象程序设计</li>
                </ul>
              </li>
              <li nz-submenu nzTitle="校园生活">
                <ul>
                  <li nz-menu-item>校卡招领</li>
                  <li nz-menu-item>课程推荐</li>
                </ul>
              </li>
              <li nz-submenu nzTitle="校园周边">
                <ul>
                  <li nz-menu-item>美食</li>
                  <li nz-menu-item>游玩</li>
                </ul>
              </li>
            </ul>
          </li>
          <li nz-menu-item nzMatchRouter>
            <span>实用工具</span>
            <a routerLink="/exercise"></a>
          </li>
        </ul>
      </div>
      <div nz-col class="gutter-row" nzSpan="8">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" class="search-bar">
          <input nz-input type="text" [(ngModel)]="searchContent" placeholder="search something"/>
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
        </ng-template>
      </div>
      <div nz-col class="gutter-row" nzSpan="3"></div>
      <div nz-col class="gutter-row" nzSpan="5">
        <app-login-bar></app-login-bar>
      </div>
    </div>
  </nz-header>

  <nz-content>
    <app-bread-bar></app-bread-bar>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>©2020 Buaa 软件工程 学习生活交流论坛</nz-footer>
</nz-layout>
