.comments-box {
  margin: 48px;
  border-style: solid;
}

.article-box {
  margin: 48px;
  border-style: solid;
}

.header-box {
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 48px;
  border-style: solid;
}
