<div nz-row nzJustify="center" class="header-box">
  <div nz-col nzSpan="12" class="title">
    <h1>标题：{{article.Title}}</h1>
  </div>

  <div nz-col nzSpan="12" class="author">
    <h1>作者：{{article.Author}}</h1>
  </div>
</div>

<nz-descriptions nzBordered nzColumn="1" nzLayout="horizontal">
  <nz-descriptions-item nzTitle="标题">{{article.Title}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="作者">{{article.Author}}</nz-descriptions-item>
</nz-descriptions>


<div class="article-box">
  <article nz-typography [innerHTML]="article.Content"></article>
</div>

<div class="comments-box">
  <app-comment [articleID]="123"></app-comment>
</div>
