.login-form {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
