<div>
  <nz-table #basicTable [nzData]="article_list">
    <thead>
      <tr>
        <th>帖子名</th>
        <th>所属板块</th>
        <th>发帖人</th>
        <th>最近更新时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.title }}</td>
        <td>{{ data.block }}</td>
        <td>{{ data.nickname }}</td>
        <td>{{ data.lastReviewTime }}</td>
        <td>
          <a>设为置顶</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>设为精华</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
